/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  background-color: #e6f9fa50;
}

:root {
  --clrMain: #081d2e;
  --clrCta: #20BFC1;
  --clrLight: #f0fbfb;
}

.title {
  font-size: 25px;
  font-weight: 800;
  color: #0a2439;
  position: relative;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

/* Menu */

.navbar {
  width: 100%;
  height: 100px;
  background-color: var(--clrMain);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
}

.navbar-logo {
  width: 64px;
  height: 64px;
}

.navbar-links {
  width: calc(100% - 200px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-settings {
  width: 64px;
  height: 64px;
}


.navbar-link {
  color: #fff;
  font-size: 15px;
  text-align: center;
  width: fit-content;
}

/* Container*/

.flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Card */

.card {
  width: 250px;
  box-shadow: 0px 5px 10px 3px #20BFC11A;
  position: relative;
  background-color: #fff;
  padding: 0 0 1em 0;
  margin: 20px 20px 20px 0;
}

.card-header {
  background-color: #0a2439;
  width: 100%;
  height: 64px;
}

.card-figure {
  width: 64px;
  height: 64px;
  margin: -32px auto 16px auto;
  background-color: var(--clrMain);
  border-radius: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon {
  width: 48px;
  height: 48px;
  background-color: var(--clrMain);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  border-radius: 48px;
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.add-photo {
  cursor: pointer;
}

.card-title {
  font-size: 17px;
  margin-bottom: 0.5em;
  font-weight: 700;
  color: #0a2439;
  padding: 0 5% .5em 5%;
  text-align: center;
  max-height: 42px;
  overflow: hidden;
}

.index-card-title {
  font-size: 17px;
  margin-bottom: 0.5em;
  font-weight: 700;
  color: #0a2439;
}

.card-subtitle {
  font-weight: 600;
  padding: 0 5%;
  font-size: 16px;
  text-align: center;
  color: var(--clrCta);
  position: relative;
  padding-bottom: 5px;
}

.card-subtitle:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 30px;
  left: calc(50% - 15px);
  height: 3px;
  background-color: var(--clrCta);
}

.card-edit {
  left: 16px;
  background-color: var(--clrCta);
}

.card-delete {
  right: 16px;
  background-color: var(--clrCta);
}

.adherent-card>.card-edit {
  left: auto;
  right: 16px;
  top: 64px;
}

.card-edit,
.card-delete {
  transition: .3s ease;
  width: 32px;
  height: 32px;
  position: absolute;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
  opacity: 0;
  cursor: pointer;
}

.card:hover .card-delete,
.card:hover .card-edit {
  transition: .3s ease;
  opacity: 1;
}

.container-item {
  border: 5px solid var(--clrCta)20;

  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.item-delete {
  width: 32px;
  height: 32px;
  background-color: var(--clrCta);
  display: flex;
  align-items: center;
  border-radius: 32px;
  justify-content: center;
  cursor: pointer;
}

.empty-image {
  width: 128px;
  height: 128px;
  background-color: #233a4d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}


/* Filter */
.filter {
  display: flex;
  margin-bottom: 20px;
}

.filter-item {
  transition: 0.3s ease;
  width: fit-content;
  padding: 0.75em 1em;
  background-color: #fff;
  color: #0a2439;
  border: 2px solid var(--clrCta)20;
  border-radius: 3px;
  margin: 0 1em 0 0;
  cursor: pointer;
  font-weight: 500;
}

.filter-selected {
  border: 2px solid var(--clrCta);
  font-weight: 600;
}

.filter-item:hover {
  background-color: var(--clrCta);
  color: #fff;
}/* Searchbar */
.searchbox {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  max-width: 400px;
  border-left: 3px solid var(--clrCta);
  margin: 20px 0 40px 0;
  box-shadow: 0 10px 15px 3px #0a243910;
}

.searchbox-input {
  width: calc(100% - 50px);
  height: 50px;
  outline: none;
  border: none;
  padding-left: 10px;
}

.searchbox-action {
  width: 50px;
  height: 50px;
  background-color: var(--clrCta);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


/* Components */
.cta {
  border: none;
  outline: none;
  text-decoration: none;
  font-weight: 700;
  height: 50px;
  color: #fff;
  margin: 20px 0 40px 0;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  font-size: 16px;
  font-family: Montserrat;
  width: fit-content;
  cursor: pointer;
  background-color: var(--clrCta);
  border-radius: 3px;
}

.content {
  padding: 30px 5%;
  width: 100%;
  min-height: calc(100vh - 100px);
}


/* Form */
.form-container {
  width: 100%;
  padding: 30px 5%;
  background-color: var(--clrLight);
}

.form {
  width: 100%;
  height: 100%;
}

.form-flex {
  display: flex;
  flex-wrap: wrap;
}

.form-icon {
  margin-bottom: 3em;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  background-color: #0a2439;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: #0a2439;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  min-width: 45%;
  margin-right: 5%;
}

.form-action {
  width: 100%;
}

.form-input {
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  border: 3px solid var(--clrCta)10;
  border-left: 3px solid var(--clrCta);
  border-radius: 3px;
  position: relative;
  padding-left: 7px;
  font-family: Montserrat;
}

.generate-field {
  display: flex;
  width: fit-content;
}

.generate {
  width: 25px;
  height: 25px;
  background-image: url(/img/random.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 3px;
  margin-left: -37.5px;
  margin-top: 12.5px;
  z-index: 10;
}

.form-select {
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  border: 3px solid var(--clrCta)10;
  border-left: 3px solid var(--clrCta);
  border-radius: 3px;
  font-family: Montserrat;
  padding-left: 10px;
}

.remember-field {
  margin-bottom: 2em;
  display: flex;
  align-items: center;
}

.remember-text {
  padding-left: 10px;
  font-weight: 600;
  color: #0a2439;
}

/* Accueil */

.index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 130px 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  min-height: 100%;
  overflow: auto;
  padding: 30px;
}

.index1 {
  grid-area: 1 / 1 / 2 / 2;
}
.index2 {
  grid-area: 1 / 2 / 2 / 3;
}
.index3 {
  grid-area: 1 / 3 / 2 / 4;
}
.index4 {
  grid-area: 2 / 1 / 3 / 3;
}
.index5 {
  grid-area: 2 / 3 / 3 / 4;
}

.index-card {
  box-shadow: 2px 2px 10px 5px #1fc1c31a;
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 1em;
  cursor: pointer;
}

.card-stat {
  color: var(--clrCta);
  font-weight: 800;
  font-size: 16px;
}

.index-cta {
  width: 100%;
  height: 100%;
  background-color: var(--clrCta);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  border-radius: 3px;
}


.index-last {
    width: 100%;
    height: 100%;
    border-top: 5px solid #0a2439;
    background-color: #fff;  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  padding-bottom: 20px;
}

.last-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background-color: #0A2439;
  text-align: center;
  width: 100%;
  padding: 1em;
}

.last-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  box-shadow: 0 2px 5px 3px #20BFC110;
  margin: 0 auto;
  height: 100%;
  padding: 0 1em;
  position: relative;
}

.last-row:after {
  transition: .3s ease-in;
  position: absolute;
  content: "";
  height: 5px;
  width: 0%;
  background-color: var(--clrCta);
  left: 0;
  bottom: 0;
}

.last-row:hover:after {
  width: 100%;
}

.last-row-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #0A2439;
  max-width: 10ch;
  line-height: 18px;
  max-height: 18px;
  overflow: hidden;
}

.index-graph {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 1fr 50px;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 5px solid #20BFC110;
  padding: 0 20px;
}

.graph1 {
  grid-area: 1 / 1 / 2 / 5;
}
.graph2 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  align-items: end;
  min-height: 105px;
}
.graph3 {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  align-items: end;
}
.graph4 {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  align-items: end;
}
.graph5 {
  grid-area: 2 / 4 / 3 / 5;
  display: flex;
  align-items: end;
}
.graph6 {
  grid-area: 3 / 1 / 4 / 2;
}
.graph7 {
  grid-area: 3 / 2 / 4 / 3;
}
.graph8 {
  grid-area: 3 / 3 / 4 / 4;
}
.graph9 {
  grid-area: 3 / 4 / 4 / 5;
}

.graph-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  padding-top: 20px;
  color: #0a2439;
}

.graph-stat {
  color: var(--clrCta);
  font-weight: 800;
}

.graph-legend {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.legend-icon {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  background-color: var(--clrCta);
}

.legend-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #0a2439;
  padding-left: 8px;
}

.graph-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0A2439;
  width: 100%;
  margin: 0 auto;
  border-bottom: 5px solid var(--clrCta);
  min-height: 50px;
}


.graph-count {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #ffffff;
  display: block;
}

.no-decoration {
  text-decoration: none;
}

/*Profil*/
.profil {
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: start;
  }
  
  .profil-card-figure {
  width: 128px;
  height: 128px;
  background-color: #233a4d;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 32px;
  }
  
  .profil-card {
    width: 45%;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 5px 10px 3px #20BFC11A;
  position: relative;
  margin-bottom: 2em;
  }
  
  .profil-card-title {
    font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #0A2439;
  padding: 32px 5% .5em 5%;
  }
  
  .profil-card-subtitle {
    font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #20BFC1;
  padding: 0 5%;
  }
  
  .profil-card-header {
    width: 100%;
    padding: 1em;
    background-color: #00c4cc20;
    color: #0A2439;
    font-size: 17px;
    font-weight: 600;
  }
  
  .profil-card-delete {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    background-color: var(--clrCta);
    right: 0;
    cursor: pointer;
  }
  
  .profil-card-row {
    display: flex;
    align-items: center;
    padding: .7em 5%;
  }
  
  .profil-card-label {
    font-weight: 600;
  font-size: 16px;
  color: #0A2439;
  padding-left: 10px;
  }
  
  .profil-cta {
    width: 45%;
    padding: 1em;
    background-color: #fff;
    border: 3px solid #00c4cc;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  color: #0A2439;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1em;
  }
  
  .profil-ctd {
    width: 45%;
    padding: 1em;
    color: #0A2439;
    border: 3px solid var(--clrCta) ;
    font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-align: center;
  margin-bottom: 1em;
  cursor: pointer;
  }
  
  .card-empty {
    width: 100%;
    height: 300px;
    background-color: #00c4cc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 20%;
  }
  
  .portrait-card {
    height: 96px;
    width: 90%;
    margin: 0 auto 1em auto;
    position: relative;
  box-shadow: 5px 5px 5px 2px #00c4cc10;
  }
  
  .portrait-card-figure {
    width: 96px;
    background-color: #233a4d;
    height: 96px;
    float: left;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .portrait-card-delete {
    top: 0;
    right: 0;
    content: "";
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #00c4cc;
    width: 32px;
    height: 32px;
  }
  
  .portrait-card-title {
  font-weight: 600;
  font-size: 17px;
  color: #0A2439;
  padding: 16px 32px 8px 0;
  }
  
  .portrait-card-subtitle {
    font-weight: 600;
  font-size: 15px;
  color: #0A2439;
  }
  
  .row-label-collapse {
    background-color: #0A243910;
    padding: 1em;
    cursor: pointer;
  }
  
  .row-label-content {
    padding: 1em;
  }

  .row-label {
    font-weight: 500;
  }

  .container {
    width: 45%;
    box-shadow: 2px 5px 10px 2px #00c4cc20;
    margin-bottom: 2em;
  }
  
.container-header {
  background-color: #0a2439;
  color: #fff;
  font-size: 17px;
  padding: 1.2em 5%;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.container-row {
  margin-bottom: 1em;
  padding: 0 5%;
}

.container-action {
  margin-top: 1.5em;
  width: 100%;
  background-color: #00c4cc;
  display: flex;
  align-items: center;
  justify-content: center;
height: 40px;
}

.container-cta {
  font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
text-decoration: none;
cursor: pointer;
width: 100%;
  text-align: center;
}
