<div class="navbar">
    <div class="navbar-logo"><img src="" width="64px" height="64px" alt="Accueil"></div>
    <div class="navbar-links"><div class="navbar-link">Accueil</div>
    <div class="navbar-link">Adhérents</div>
    <div class="navbar-link">Mandats</div>
    <div class="navbar-link">Mandataires</div>
    <div class="navbar-link">Sondages</div></div>
    <div class="navbaar-settings">Options</div>
</div>