<%- include('includes/header.ejs') %>

<%- include('includes/navbar.ejs') %>

    <h1><%= title %></h1>
    <% adherents.forEach(adherent => { %>
        <div> 
            <%= adherent.entreprise %>
        </div>
    <% })%>
</body>
<script>
</script>
</html>